@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --clr-pry: 144 58 255;
    --clr-pry-alt: 254 52 185;
    --clr-purple: 21 14 40;
    --clr-pink: 212 52 254;
  }
}
