@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --clr-pry: 144 58 255;
    --clr-pry-alt: 254 52 185;
    --clr-purple: 21 14 40;
    --clr-pink: 212 52 254;
  }
}

/* -----------------------------------------
    Custom styling for decorative elements
   ----------------------------------------- */

.hero_dec::after {
  content: url('../public/svg/hero-dec-sm.svg');
  position: absolute;
  bottom: -24px;
  right: 0;
  z-index: 1;
}

.hero_bulb_dec::after {
  content: url('../public/images/hero/hero-bulb-sm.png');
  position: absolute;
  top: -20px;
  right: 17px;
  z-index: 1;
}

.flare::after {
  content: url('../public/images/hero/hero-flare-top-sm.png');
  position: absolute;
  top: -5rem;
  left: -48px;
  z-index: -1;
  mix-blend-mode: hard-light;
}

.flare-cri-img::after {
  content: url('../public/images/hero/hero-flare-top-sm.png');
  position: absolute;
  top: -3rem;
  left: -48px;
  z-index: -1;
  opacity: 0.68;
  mix-blend-mode: hard-light;
}

.flare-cri::before {
  content: url('../public/images/criteria/criteria-flare-bot-sm.png');
  position: absolute;
  bottom: -3rem;
  right: 0px;
  z-index: -1;
  opacity: 0.68;
  mix-blend-mode: hard-light;
}

.arrow::after {
  content: url('../public/images/overview/arrow-sm.png');
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (min-width: 1280px) {
  .hero_dec::after {
    content: url('../public/svg/hero-dec-lg.svg');
    bottom: -28px;
  }

  .hero_bulb_dec::after {
    content: url('../public/images/hero/hero-bulb-lg.png');
    top: -52px;
    right: 32px;
  }

  .flare::after {
    content: url('../public/images/hero/hero-flare-top-lg.png');
    top: 0;
    left: -128px;
    opacity: 0.68;
  }

  .flare-cri-img::after {
    content: url('../public/images/criteria/criteria-flare-top-lg.png');
    top: -0.5rem;
    left: -128px;
  }

  .flare-cri::before {
    content: url('../public/images/criteria/criteria-flare-bot-lg.png');
    bottom: -30rem;
  }

  .flare::before {
    content: url('../public/images/hero/hero-flare-bot-lg.png');
    position: absolute;
    top: 50%;
    right: 0px;
    z-index: -1;
    opacity: 0.68;
    transform: translateY(-50%);
    mix-blend-mode: hard-light;
  }

  .arrow::after {
    content: url('../public/images/overview/arrow-lg.png');
    left: 100%;
  }
}
